webpack.config.js
bundle.js
build/assets
setup-tests.js
vite.config.js
build
src/components/movies-loader-component/movies-loader-component.jsx
src/middlewares/auth-middleware.js
.github/pull_request_template.md
vscode/extensions.json
ss/main.css
css/main.min.css
index.html
public/bundle.js
public/css/main.min.css
README.md

src/api/kinopoisk-api.js
src/css/main.css
src/css/main.min.css
vite.config.js