{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": ["error", "always"],
    "quote-props": ["error", "as-needed", { "keywords": true }],
    "quotes": ["error", "single"],
    "no-mixed-requires": ["error"],
    "indent": ["error", 2, { "SwitchCase": 1, "FunctionExpression": { "parameters": "first" } }],
    "camelcase": ["error", { "properties": "never" }]
  }
}
